#scroll_bg{
    position: absolute;
    width: 5px;
    height: 400px;
    top: 0px;
    left:594px;
    background-color: rgb(192,192,192);
}

#scroll_bar{
    position: absolute;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}